In [ ]:
from base_script import return_merged_df
import pandas as pd
return_merged_df()


def get_info_by_continent(cursor: 'cursor', continent: int) -> pd.DataFrame:
    """Get a table of the total sales per truck or for a specific truck if provided."""
    if continent:
        cursor.execute(
            "SELECT soil_moisture FROM 
        )
    else:
        cursor.execute(
            "SELECT truck_name, COUNT(*) AS sales_count "
            "FROM truck AS t "
            "JOIN transaction AS tr ON t.truck_id = tr.truck_id "
            "GROUP BY truck_name;"
        )
    result: pd.DataFrame = cursor.fetch_dataframe()
    return result

get_info_by_continent()

,recording_id,plant_id,last_watered,soil_moisture,temperature,recording_taken
0,46,49,2024-11-28 14:02:15,29.717668,9.352769,2024-11-29 10:07:35
1,47,50,2024-11-28 14:03:04,30.036929,13.137114,2024-11-29 10:07:35
2,45,48,2024-11-28 14:31:09,31.069352,14.877861,2024-11-29 10:07:33
3,44,47,2024-11-28 13:30:18,-6.049341,13.325786,2024-11-29 10:07:32
4,43,46,2024-11-28 14:12:39,33.984884,13.287486,2024-11-29 10:07:31
5,42,45,2024-11-28 14:04:23,30.186486,19.172736,2024-11-29 10:07:30
6,41,44,2024-11-28 13:32:40,29.370872,9.539323,2024-11-29 10:07:29
7,40,42,2024-11-28 14:49:43,32.948383,9.841084,2024-11-29 10:07:28
8,38,40,2024-11-28 14:05:38,33.355544,9.050226,2024-11-29 10:07:27
9,39,41,2024-11-28 13:45:13,31.590714,11.715961,2024-11-29 10:07:27
10,37,39,2024-11-28 14:18:23,29.011468,13.372963,2024-11-29 10:07:26
11,36,38,2024-11-28 13:46:06,31.833403,11.048712,2024-11-29 10:07:25
12,35,37,2024-11-28 14:23:43,32.360427,11.066669,2024-11-29 10:07:24
13,34,36,2024-11-28 14:09:55,32.473649,12.270269,2024-11-29 10:07:23
14,33,35,2024-11-28 13:32:46,26.874190,12.886831,2024-11-29 10:07:22
15,32,34,2024-11-28 13:44:15,28.473463,13.383984,2024-11-29 10:07:21
16,31,33,2024-11-28 14:05:58,30.017008,13.517686,2024-11-29 10:07:20
17,29,31,2024-11-28 13:05:43,27.215238,13.337318,2024-11-29 10:07:19
18,30,32,2024-11-28 14:29:54,29.775905,10.590201,2024-11-29 10:07:19
19,28,30,2024-11-28 13:55:19,33.039190,14.488661,2024-11-29 10:07:18
20,26,28,2024-11-28 14:37:02,29.855040,12.394732,2024-11-29 10:07:17
21,27,29,2024-11-28 13:11:24,29.510131,10.800050,2024-11-29 10:07:17
22,24,26,2024-11-28 14:23:18,34.647597,14.134654,2024-11-29 10:07:16
23,25,27,2024-11-28 14:58:20,34.283921,10.736868,2024-11-29 10:07:16
24,23,25,2024-11-28 13:58:41,31.660521,11.571557,2024-11-29 10:07:09
26,22,24,2024-11-28 14:44:00,30.559764,81.143734,2024-11-29 10:07:07
25,21,23,2024-11-28 14:56:47,33.761950,11.380099,2024-11-29 10:07:07
27,20,22,2024-11-28 13:03:26,26.101802,9.524503,2024-11-29 10:07:05
28,19,21,2024-11-28 14:23:59,32.587568,10.990486,2024-11-29 10:07:04
29,18,20,2024-11-28 14:49:34,32.112620,8.563608,2024-11-29 10:07:02
30,17,18,2024-11-28 14:29:39,31.414885,8.990103,2024-11-29 10:07:01
31,16,17,2024-11-28 14:02:40,29.912445,9.742270,2024-11-29 10:07:00
32,15,16,2024-11-28 13:50:40,-4.256835,13.262770,2024-11-29 10:06:59
33,14,15,2024-11-28 13:45:31,28.149315,9.957315,2024-11-29 10:06:58
34,12,13,2024-11-28 13:36:47,32.346346,9.489262,2024-11-29 10:06:57
35,13,14,2024-11-28 14:17:54,32.884904,13.094632,2024-11-29 10:06:57
36,11,12,2024-11-28 13:13:51,26.144813,12.759058,2024-11-29 10:06:55
37,10,11,2024-11-28 13:37:24,30.926284,9.436761,2024-11-29 10:06:54
38,9,10,2024-11-28 13:04:57,26.984645,13.932907,2024-11-29 10:06:53
39,8,9,2024-11-28 14:12:43,30.773509,10.578525,2024-11-29 10:06:52
40,4,3,2024-11-28 14:50:16,33.338125,9.964581,2024-11-29 10:06:51
41,5,4,2024-11-28 13:16:25,25.421261,11.308272,2024-11-29 10:06:51
42,6,6,2024-11-28 13:35:35,31.532454,10.946507,2024-11-29 10:06:51
43,7,8,2024-11-28 13:23:01,25.814235,11.487722,2024-11-29 10:06:51
44,3,2,2024-11-28 14:10:54,34.707409,9.087527,2024-11-29 10:06:50
45,2,1,2024-11-28 13:54:32,28.407966,12.015553,2024-11-29 10:06:49
46,1,0,2024-11-28 14:03:04,30.083209,13.136278,2024-11-29 10:06:48
47,2,10,2024-11-27 14:35:45,40.220000,23.100000,2024-11-26 19:35:45
49,2,10,2024-11-27 14:35:45,40.220000,23.100000,2024-11-26 19:35:45
48,1,10,2024-11-27 14:35:45,40.220000,23.100000,2024-11-26 12:35:45
50,1,10,2024-11-27 14:35:45,40.220000,23.100000,2024-11-26 12:35:45